.header__lang-link {
    max-width: 30px;
    max-height: 28px;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.header__lang-link:hover {
    text-decoration: underline;
    opacity: 60%;
    transition: 0.5s ease-in-out;
}

.header__lang-link:first-of-type {
    margin-right: 18px;
    text-decoration: underline;
}

@media screen and (max-width: 568px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}