.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 92px;
}

@media screen and (max-width: 984px) {
    .footer {
        margin-top: 88px;
    }
}

@media screen and (max-width: 568px) {
    .footer {
        display: block;
        margin-top: 64px;
    }
}