.place__url-heading {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 12px;
}

@media screen and (max-width: 568px) {
    .place__url-heading {
        margin-bottom: 12px;
    }
}